@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
